@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@theme {
  /***********************************
   * Font Family Definitions
   ***********************************/
  --font-family-roboto: 'Roboto', sans-serif;
  --font-family-instrument-sans: 'Instrument Sans', sans-serif;

  /***********************************
   * Color Palette Definitions
   ***********************************/
  /* Red Color Palette */

  --color-ivory-000: #fffcf4;
  --color-ivory-050: #fff9f1;
  --color-linen-100: #fdf5e8;
  --color-linen-300: #cff7d3;
  --color-green-100: #06cd13;
  --color-sand-200: #f5e3c8;
  /* --color-olive-700: #6a8459; */
  --color-olive-800: #516a47;
  --color-charcoal-900: #525252;
  --color-gray-500: #828282;
  --color-gray-300: #b3b3b3;

  --color-olive-600: #618459;

  /***********************************
   * Semantic Color Variables
   ***********************************/
  /* Primary Colors */
  --color-primary: var(--color-olive-800);

  --color-icons: var(--color-olive-800);
  --color-bg-icons: var(--color-linen-300);
  /* Background Colors */
  --color-bg-card: var(--color-ivory-000);
  --color-bg: var(--color-linen-100);
  --color-bg-body: var(--color-ivory-050);

  --color-button: var(--color-sand-200);
  /* Text Colors */
  --color-text-primary: var(--color-charcoal-900);
  --color-text-secondary: var(--color-gray-500);
  --color-text-placeholder: var(--color-gray-300);
  --color-text-discount: var(--color-green-100);
}
